:root {
    --artre-cbd-one: #F8F9FB !important;
    --artre-cbd-two: #DEF2F1 !important;
    --artre-lightcbd-one: #F8F9FB !important;
    --artre-lightcbd-two: #A1C2D1 !important;
    --artre-dark: #08105B !important;
    --artre-heather: #B29BC7 !important;
    --artre-blurple: #0D19A3 !important;
    --artre-storm: #5085A5 !important;
    --artre-orange: #F4976C !important;
    --artre-border-light: #A1C2D1 !important;
}

/* #side-artre-container div {
    border: 2px solid orange;
} */
/* webkit scrollbar styler*/
div#filter-displayer-div::-webkit-scrollbar {
    width:10px !important;
}

div#filter-displayer-div::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

div#filter-displayer-div::-webkit-scrollbar-thumb {
    background: #888 !important;
}

div#filter-displayer-div::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}


div.full-sentence-displayer::-webkit-scrollbar {
    width:10px !important;
}

div.full-sentence-displayer::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

div.full-sentence-displayer::-webkit-scrollbar-thumb {
    background: #888 !important;
}

div.full-sentence-displayer::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

#side-artre-container {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 16px !important;
    color: var(--artre-dark) !important;
}

.artrepopup {
    height: 50px !important;
    width: 50px !important;
}

#artre-stickything {
    width: 50px !important;
    height: 50px !important;
    position: fixed !important;
    top: 25% !important;
    right: 0px !important;
    border-radius: 50% 50% 50% 50% !important;
    background-color: var(--artre-lightcbd-two) !important;
    z-index: 2147483646 !important;
    transition: all .7s !important;
    /* border: 2px solid black; */
    /* border-right: none; */
    display: block !important;
    /* box-shadow: inset 0 0 7px 2px var(--artre-storm); */
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.418),
    inset 0 2px 4px white !important;
    margin-right: 2px !important;
    filter: none !important;
    /* padding-left: -1rem; */
}

#artre-stickything img {
    filter: none  !important;
}

#artre-stickything:hover {
    background-color: var(--artre-storm) !important;
}

.show-artre-sidebar {
    transform:translateX(-300px) !important;
    transition: all .7s !important;
}

#artre-stickything #artre-icon {
    position: relative !important;
    /* left: -2px; */
    top: -1px !important;
    height: 100% !important;
    width: auto !important;
}

#side-artre-container {
    /* background: linear-gradient(rgb(231, 162, 33), rgba(255, 186, 58, 0.418)); */
    box-sizing: border-box !important;
    width: 300px !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    right: -300px !important;
    border-left: 1px solid black !important;
    transition: all .7s !important;
    z-index: 2147483645 !important;
    padding: 0 !important;
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 100px 150px 45px 60px 1fr 30px !important;
    align-content: start !important;
    /* background: linear-gradient(var(--artre-dark), var(--artre-storm)); */
    /* background: url(imgs/colorspacenewnew.png); */
    overflow: hidden !important;
    /* backdrop-filter: blur(10px); */
}

#side-artre-container .header-div {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;

}

#side-artre-container #artre-main-icon {
    height: 100px !important;
    width: 300px !important;
}

#side-artre-container #artre-header-text-div {
    padding: 0 !important;
    margin: 0 !important;
}

#artre-header-text-div div#artre-title-one,
#artre-title-two {
    font-size: 38px !important;
    font-weight: bolder !important;
    color: var(--artre-cbd-one) !important;
    padding-bottom: -20px !important;
    line-height: 1 !important;
}

#side-artre-container #btn-main-ar-container {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: flex-end !important;
    align-self: end !important;
    /* grid-template-columns: 1fr 1fr; */
}

div#btn-main-ar-container>div {
    position: relative !important;
    z-index: 0 !important;
    border: 4px solid var(--artre-border-light) !important;
    border-bottom: none !important;
    display: flex !important;
    flex: 1 1 auto !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 25px 10px 0 0 !important;
    background-color: var(--artre-cbd-one) !important;
    box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.459) !important;
}


div#btn-main-ar-container>div.pressed {
    z-index: 3 !important;
    width: 60px !important;
    /* z-index: 2; */
    border-bottom: 4px solid var(--artre-cbd-one) !important;
    box-shadow: 0 -3px 7px 3px rgba(0, 0, 0, 0.459) !important;
}

div#btn-main-ar-container>div.pressed::before {
    content: '' !important;
    position: absolute !important;
    bottom: -4px !important;
    width: 600px !important;
    height: 4px !important;
    z-index: -2 !important;
    /* z-index: 2; */
    background-color: var(--artre-border-light) !important;
    box-shadow: 0 5px 0 3px var(--artre-cbd-one) !important;
}

div#btn-main-ar-container>div.pressed::after {
    content: '' !important;
    position: absolute !important;
    bottom: -7px !important;
    width: 100% !important;
    height: 7px !important;
    z-index: -1 !important;
    background-color: var(--artre-cbd-one) !important;
    /* z-index: 2; */
    /* background-color: var(--artre-cbd-one); */
}
div#side-artre-container img {
    filter: none  !important;
}

div#btn-main-ar-container>div img {
    position: relative !important;
    width: 40px !important;
    height: auto !important;
    /* background-color: orange; */
}

div#side-artre-container #filter-displayer-div {
    /* position: absolute;
    top: 30%;
    width: 200px;
    height: 200px; */
    position: relative !important;
    align-self: stretch !important;
    justify-self: stretch !important;
    margin-top: -4px !important;
    z-index: 2 !important;
    background: linear-gradient(var(--artre-cbd-one), var(--artre-cbd-two)) !important;
    border-top: 4px solid var(--artre-border-light) !important;
    /* border-bottom: 4px solid var(--artre-border-light); */
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.7) !important;
    padding: 10px !important;
    overflow-y: auto !important;
    text-align: center !important;
    /* overflow-x: hidden; */
    /* display: flex; */
    /* justify-items: center; */
    /* width: 300px; */
}

#filter-displayer-div>button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    z-index: 2147483647 !important;
    background-color: var(--artre-border-light) !important;
    font-size: 14px !important;
    position: relative !important;
    outline: none !important;
    margin: 2px !important;
    margin-top: 10px !important;
    border-radius: 2px !important;
    border: none !important;
    padding: 3px 5px 3px 5px !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

#artre-bgimg {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: -1 !important;
}

#filter-displayer-div>button:hover {
    cursor: pointer !important;
    background-color: var(--artre-storm) !important;
}

#filter-displayer-div>button:active {
    background-color: var(--artre-heather) !important;
} 

#filter-displayer-div>button>div.id-counter {
    background-color: var(--artre-storm) !important;
    border-radius: 50% !important;
    height: 20px !important;
    width: 20px !important;
    position: absolute !important;
    right: -10px !important;
    top: -10px !important;
    display: flex !important;
    /* place-items: center; */
    place-content: center !important;
    place-items: center !important;
    color: var(--artre-lightcbd-one) !important;
    font-size: 10px !important;
    font-weight: bold !important;
}

#filter-displayer-div>button:has(> div.id-counter) {
    margin-right: 10px !important;
}

#side-artre-container .full-sentence-displayer {
    margin-right: 10px !important;
    margin-left: 10px !important;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.459) !important;
    color: var(--artre-lightcbd-one) !important;
    font-weight: bold !important;
    overflow-y: auto !important;
    font-size: 14px !important;
}

#side-artre-container #artre-iteration-counter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 20px !important;
    color: var(--artre-lightcbd-one) !important;
    font-weight: bold !important;
}

#side-artre-container #artre-footer-div {
    z-index: 2147483647 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-content: center !important;
    background: linear-gradient(var(--artre-border-light), var(--artre-storm)) !important;
    color: var(--artre-border-light) !important;
    border-top: 1px solid black !important;
}

#artre-footer-qmark-div {
    position: relative !important;
    height: 100% !important;
}

#artre-footer-qmark-div:hover {
    background-color: var(--artre-border-light) !important;
}

#artre-footer-qmark {
    position: relative !important;
    height: 100% !important;
    width: auto !important; 
}

#artre-reducedby-div {
    font-size: 12px !important;
    color: black !important;
    display: flex !important;
    align-items: center !important;
}

#filter-displayer-div>button.sig-str-btn {
    text-decoration: underline !important;
}

/* #side-artre-container .btn-container-right, .btn-container-left {
    padding: 2px;
}

#btn-main-ar-container button {
    position: relative;
    width: 100%;
    height: 30px;
    background-color:rgb(255, 179, 37);
    border-radius: 10px;
    margin: 1px;

}
*/
/* div#btn-main-ar-container>div img.pressed {
    width: 50px;
    height: 100px;
} */
/*
.btn-main-container button#custom-btn {
    background-color:rgb(202, 168, 104)
} 

/* .btn-main-container button:active {
    background-color:rgb(212, 145, 19);
    border: none;
    box-shadow: inset 0 0 10px black;
} */

/* .filter-display {
    margin-top: 10px;
    height: 300px;
    width: 100%;
    box-shadow: 0 0 5px grey;
    box-sizing: border-box;
    overflow: auto;
    background: white;
} */

div#artre-help-doc-div {
    z-index: 2147483647 !important;
    background-color: linear-gradient(var(--artre-cbd-one), var(--artre-cbd-two)) !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    /* display: block !important; */
}

#artre-help-doc-img {
    width: 100% !important;
    height: auto !important;
}

div.artre-help-hide {
    display: none !important;
}

div.artre-help-show {
    display: block !important;
}

#artre-control-counter {
    display: flex !important;
    justify-content: space-between !important;
}

#artre-control-counter > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#artre-leftarrow, #artre-rightarrow {
    height: 75px !important;
    width: auto !important;
    z-index: 2147483647 !important;
}

#artre-leftarrow-div, #artre-rightarrow-div {
    z-index: 100 !important;
}

#artre-rightarrow {
    transform: rotate(180deg) !important;
}