:root {
    --artre-cbd-one: #F8F9FB;
    --artre-cbd-two: #DEF2F1;
    --artre-lightcbd-one: #F8F9FB;
    --artre-lightcbd-two: #A1C2D1;
    --artre-dark: #08105B;
    --artre-heather: #B29BC7;
    --artre-blurple: #0D19A3;
    --artre-storm: #5085A5;
    --artre-orange: #F4976C;
    --artre-border-light: #A1C2D1;
}

/* #side-artre-container div {
    border: 2px solid orange;
} */
/* webkit scrollbar styler*/
div#filter-displayer-div::-webkit-scrollbar {
    width:10px;
}

div#filter-displayer-div::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

div#filter-displayer-div::-webkit-scrollbar-thumb {
    background: #888; 
}

div#filter-displayer-div::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


div.full-sentence-displayer::-webkit-scrollbar {
    width:10px;
}

div.full-sentence-displayer::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

div.full-sentence-displayer::-webkit-scrollbar-thumb {
    background: #888; 
}

div.full-sentence-displayer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#side-artre-container {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: var(--artre-dark);
}

.popup {
    height: 50px;
    width: 50px;
}

#artre-stickything {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 25%;
    right: 0px;
    border-radius: 50% 50% 50% 50%;
    background-color: var(--artre-lightcbd-two);
    z-index: 2147483646;
    transition: all .7s;
    /* border: 2px solid black; */
    /* border-right: none; */
    display: block;
    /* box-shadow: inset 0 0 7px 2px var(--artre-storm); */
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.418), 
    inset 0 2px 4px white;
    
    margin-right: 2px;
    /* padding-left: -1rem; */
}

#artre-stickything:hover {
    background-color: var(--artre-storm);
}

.show-artre-sidebar {
    transform:translateX(-300px);
    transition: all .7s;
}

#artre-stickything #artre-icon {
    position: relative;
    /* left: -2px; */
    top: -1px;
    height: 100%;
    width: auto;
}

#side-artre-container {
    /* background: linear-gradient(rgb(231, 162, 33), rgba(255, 186, 58, 0.418)); */
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    border-left: 1px solid black;
    transition: all .7s;
    z-index: 2147483645;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px 45px 60px 1fr 30px;
    align-content: start;
    /* background: linear-gradient(var(--artre-dark), var(--artre-storm)); */
    /* background: url(imgs/colorspacenewnew.png); */
    overflow: hidden;
    /* backdrop-filter: blur(10px); */
}

#side-artre-container .header-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#side-artre-container #artre-main-icon {
    height: 75px;
    width: auto;
}

#side-artre-container #artre-header-text-div {
    
    padding: 0;
    margin: 0;
}

#artre-header-text-div div#artre-title-one,
#artre-title-two {
    font-size: 38px;
    font-weight: bolder;
    color: var(--artre-cbd-one);
    padding-bottom: -20px;
    line-height: 1;
}

#side-artre-container #btn-main-ar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: end;
    /* grid-template-columns: 1fr 1fr; */
}

div#btn-main-ar-container>div {
    position: relative;
    z-index: 0;
    border: 4px solid var(--artre-border-light);
    border-bottom: none;
    display: flex; 
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border-radius: 25px 10px 0 0;
    background-color: var(--artre-cbd-one);
    box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.459);
}


div#btn-main-ar-container>div.pressed {
    z-index: 3;
    width: 60px;
    /* z-index: 2; */
    border-bottom: 4px solid var(--artre-cbd-one);
    box-shadow: 0 -3px 7px 3px rgba(0, 0, 0, 0.459);
}

div#btn-main-ar-container>div.pressed::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 600px;
    height: 4px;
    z-index: -2;
    /* z-index: 2; */
    background-color: var(--artre-border-light);
    box-shadow: 0 5px 0 3px var(--artre-cbd-one);
}

div#btn-main-ar-container>div.pressed::after {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 7px;
    z-index: -1;
    background-color: var(--artre-cbd-one);
    /* z-index: 2; */
    /* background-color: var(--artre-cbd-one); */
}

div#btn-main-ar-container>div img {
    position: relative;
    width: 40px;
    height: auto;
    /* background-color: orange; */
}

div#side-artre-container #filter-displayer-div {
    /* position: absolute;
    top: 30%;
    width: 200px;
    height: 200px; */
    position: relative;
    align-self: stretch;
    justify-self: stretch;
    margin-top: -4px;
    z-index: 2;
    background: linear-gradient(var(--artre-cbd-one), var(--artre-cbd-two));
    border-top: 4px solid var(--artre-border-light);
    /* border-bottom: 4px solid var(--artre-border-light); */
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow-y: auto;
    text-align: center;
    /* overflow-x: hidden; */
    /* display: flex; */
    /* justify-items: center; */
    /* width: 300px; */
}

#filter-displayer-div>button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 2147483647;
    background-color: var(--artre-border-light);
    font-size: 14px;
    position: relative;
    outline: none;
    margin: 2px;
    margin-top: 10px;
    border-radius: 2px;
    border: none;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    font-weight: bold;
}

#artre-bgimg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#filter-displayer-div>button:hover {
    cursor: pointer;
    background-color: var(--artre-storm);
}

#filter-displayer-div>button:active {
    background-color: var(--artre-heather);
} 

#filter-displayer-div>button>div.id-counter {
    background-color: var(--artre-storm);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute; 
    right: -10px;
    top: -10px;
    display: flex;
    /* place-items: center; */
    place-content: center;
    place-items: center;
    color: var(--artre-lightcbd-one);
    font-size: 10px;
    font-weight: bold;
}

#filter-displayer-div>button:has(> div.id-counter) {
    margin-right: 10px;
}

#side-artre-container .full-sentence-displayer {
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.459);
    color: var(--artre-lightcbd-one);
    font-weight: bold;
    overflow-y: auto;
    font-size: 14px;
}

#side-artre-container #artre-iteration-counter {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--artre-lightcbd-one);
    font-weight: bold;
}

#side-artre-container #artre-footer-div {
    z-index: 2147483647;
    display: flex;
    justify-content: space-between;
    align-content: center;;
    background: linear-gradient(var(--artre-border-light), var(--artre-storm));
    color: var(--artre-border-light);
    border-top: 1px solid black;
}

#artre-footer-qmark-div {
    position: relative;
    height: 100%;
}

#artre-footer-qmark-div:hover {
    background-color: var(--artre-border-light);
}

#artre-footer-qmark {
    position: relative;
    height: 100%;
    width: auto; 
}

#artre-reducedby-div {
    font-size: 12px;
    color: black;
    display: flex;
    align-items: center;
}

#filter-displayer-div>button.sig-str-btn {
    text-decoration: underline;
}

/* #side-artre-container .btn-container-right, .btn-container-left {
    padding: 2px;
}

#btn-main-ar-container button {
    position: relative;
    width: 100%;
    height: 30px;
    background-color:rgb(255, 179, 37);
    border-radius: 10px;
    margin: 1px;

}
*/
/* div#btn-main-ar-container>div img.pressed {
    width: 50px;
    height: 100px;
} */
/*
.btn-main-container button#custom-btn {
    background-color:rgb(202, 168, 104)
} 

/* .btn-main-container button:active {
    background-color:rgb(212, 145, 19);
    border: none;
    box-shadow: inset 0 0 10px black;
} */

/* .filter-display {
    margin-top: 10px;
    height: 300px;
    width: 100%;
    box-shadow: 0 0 5px grey;
    box-sizing: border-box;
    overflow: auto;
    background: white;
} */
